html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  font-family: Arial, sans-serif;
  background-color: #212529 !important;
  /* color: #f8f9fa; */
}

h3 {
  color: #f8f9fa;
}

#chat-box {
  max-height: 600px; /* Set a max-height value to limit the height */
  overflow-y: scroll;
  border: 1px solid #495057;
  border-radius: 5px;
  background-color: #343a40;
  margin-bottom: 10px;
  overflow-y: scroll;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: calc(100vh - 350); /* Adjust the value based on the height of the other elements on the page */
  max-height: 600px; /* Set a max-height value to limit the height */
}

.chat-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-bottom: 10px;
}

#chat-box {
  flex-grow: 1;
  margin-bottom: 10px;
}

#message-form {
  flex-shrink: 0;
}

h1 {
  margin-bottom: 30px;
}

.message {
  padding: 10px 15px;
  border-radius: 15px;
  display: inline-block;
  margin-bottom: 10px;
  max-width: 75%;
  word-wrap: break-word;
  position: relative;
  white-space: pre-wrap;
}

.message-sent {
  float: right;
  clear: both;
  margin-left: 25%;
  margin-bottom: 10px;
  background-color: #007bff;
  color: white;
  margin-right: 40px;
}

.message-received {
  float: left;
  clear: both;
  margin-right: 25%;
  margin-bottom: 10px;
  background-color: #495057;
  color: white;
}

#message-form {
  margin-bottom: 10px;
}

.message-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.message-wrapper-sent {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.btn-save-message-sent {
  position: absolute;
  right: 0;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  color: #adb5bd;
  padding: 0;
  cursor: pointer;
}

.btn-save-message {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  color: #adb5bd;
  padding: 0;
  cursor: pointer;
}

.btn-save-message:hover {
  color: #6c757d;
}


.form-control:focus {
  box-shadow: none;
}

.form-control {
  background-color: #495057 !important;
  border-color: #495057 !important;
  color: #f8f9fa;
}

.input-group {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.btn-primary {
  background-color: #5a5a5a !important;
  border-color: #5a5a5a !important;
  box-shadow: none;
  color: #f8f9fa !important;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #4a4a4a !important;
  border-color: #3a3a3a !important;
  color: #f8f9fa !important;
}

.btn-primary:active {
  background-color: #3a3a3a !important;
  border-color: #2a2a2a !important;
  color: #f8f9fa !important;
}



#chat-box::after {
  content: "";
  display: table;
  clear: both;
}

textarea.form-control {
  resize: none;
  overflow: auto;
  height: 152px;
  max-height: 152px;
  min-height: 152px;
  flex-grow: 1;
  box-sizing: border-box;
}

.input-group {
  display: flex;
  align-items: flex-start;
  width: 100%;
  background-color: #495057;
  border-color: #495057;
}

.input-group-btn {
  margin-left: 10px;
}

.btn-send {
  height: 152px;
  width: 70px;
}

.btn i {
  vertical-align: middle;
}
.spinner {
  margin-left: 4px;
}

.new-session-btn {
  height: 38px;
  width: 150px;
}

.chat-session-link {
  color: #a9b2bd;
  text-decoration: none;
  margin-right: 10px;
}

.chat-session-link:hover,
.chat-session-link:focus {
  color: #f8f9fa;
  text-decoration: underline;
}

.delete-chat-session-form {
  display: inline;
}

.delete-chat-session-form .btn {
  color: #c23616;
}

.delete-chat-session-form .btn:hover,
.delete-chat-session-form .btn:focus {
  color: #a93226;
  text-decoration: none;
}

.container-fluid {
  background-color: #212529;
}

.list-group {
  background-color: #343a40;
}

.list-group-item {
  background-color: #343a40 !important;
  border-color: #495057 !important;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-danger:hover,
.btn-danger:focus {
  background-color: #c82333;
  border-color: #bd2130;
}

.btn-danger:active {
  background-color: #bd2130;
  border-color: #b21f2d;
}

.modal-content {
  background-color: #343a40 !important;
  color: #f8f9fa;
}

.modal-header {
  border-bottom: 1px solid #495057;
}

.modal-body label {
  color: #f8f9fa;
}

.modal-body .form-control {
  background-color: #495057;
  border-color: #495057;
  color: #f8f9fa;
}

.modal-footer .btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
  color: #f8f9fa;
}

.modal-footer .btn-secondary:hover,
.modal-footer .btn-secondary:focus {
  background-color: #5a6e7b;
  border-color: #495057;
  color: #f8f9fa;
}

.modal-footer .btn-secondary:active {
  background-color: #495057;
  border-color: #343a40;
  color: #f8f9fa;
}

.modal-title {
  color: #f8f9fa;
}

.notification-box {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

.notification {
  position: fixed;
  top: 20px;
  right: -300px;
  z-index: 999;
  padding: 15px;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: right 0.5s;
}

.notification.hidden {
  right: -300px;
}

.notification.visible {
  right: 20px;
}

.notification-info {
  background-color: #d6d8db;
  color: #212529;
}

.notification-warning {
  background-color: #ffc107;
  color: #212529;
}

.notification-error {
  background-color: #dc3545;
  color: #f8f9fa;
}

/* Remove toast header */
.toast .toast-header {
  display: none;
}

/* Add rounded rectangle shape to toast body */
.toast .toast-body {
  border-radius: 5px;
  padding: 15px;
}

/* Update the background and text colors for the toast body */
.toast-info {
  background-color: #00838F !important;
  color: #000000 !important;
}

.toast-progress {
  background-color: #00838F !important;
  color: #000000 !important;
}

.toast-warning {
  background-color: #ffcc00 !important;
  color: #212529 !important;
}

.toast-error {
  background-color: #c82333 !important;
  color: #f8f9fa !important;
}
