{% extends "base.html" %}

{% block content %}
  <div class="container-fluid">
    <div id="notification-box" class="notification hidden"></div>
    <div class="toast" id="notification-toast" style="position: fixed; top: 20px; right: 20px;">
      <div class="toast-header">
        <strong class="me-auto">Notification</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <h5>Chat Sessions</h5>
        <ul class="list-group">
          {% for chat_session in chat_sessions %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <a class="chat-session-link" href="{{ url_for('index') }}{{chat_session.id}}">{{ chat_session.name }}</a>
              <form action="{{ url_for('delete_chat_session', session_id=chat_session.id) }}" method="post" class="delete-chat-session-form">
                <button type="submit" class="btn btn-link p-0">
                  <i class="fas fa-trash-alt"></i>
                </button>
              </form>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-md-9">
        <h3 class="text-center">Bear GPT</h3>
        <div class="d-flex justify-content-between mb-3">
          <button id="new-chat-session" class="btn btn-primary new-session-btn">New Chat</button>
          {% if not empty %}
          <!-- <form action="{{ url_for('remember', session_id=session_id) }}" method="post"> -->
            <!-- <button type="submit" class="btn btn-light">Remember this chat</button> -->
          <!-- </form> -->
            <button type="button" id="remember-button" class="btn btn-light">Remember this chat</button>
            {% endif %}
        </div>
        {% if not empty %}
        <div class="chat-wrapper">
        <div id="chat-box" class="chat-box">
          {% for message in chat_history %}
            {% if message.role == 'user' %}
              <div class="message-wrapper-sent">
                <form action="{{ url_for('delete_message', session_id=session_id, message_id=message.message_id) }}" method="post" class="delete-chat-session-form">
                  <button class="btn btn-save-message-sent" title="Delete message" type="submit">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </form>
                <div class="message message-sent">{{ message.content }}</div>
              </div>
            {% else %}
              <div class="message-wrapper">
                <div class="message message-received">{{ message.content }}</div>
                <form action="{{ url_for('delete_message', session_id=session_id, message_id=message.message_id) }}" method="post" class="delete-chat-session-form">
                  <button class="btn btn-save-message" title="Delete message" type="submit">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </form>
              </div>
            {% endif %}
          {% endfor %}
          {% if streaming %}
            <div class="message message-received" id="stream-target"></div>
          {% endif %}
        </div>
        <form method="POST" id="message-form">
          <div class="input-group">
            <textarea name="message" id="message-input" class="form-control" rows="8" placeholder="Type your message here..." required></textarea>
            <span class="input-group-btn">
              <button type="submit" class="btn btn-primary btn-send">
                <span id="send-text">Send</span>
                <span id="spinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display: none;"></span>
              </button>
            </span>
          </div>
        </form>
        </div>
        <script>
          // Scroll the chat history to the bottom
          const chatBox = document.getElementById("chat-box");
          chatBox.scrollTop = chatBox.scrollHeight;

          $(document).ready(function () {
            $("#message-form").on("submit", function (event) {
              event.preventDefault();

              $("#send-text").css("display", "none");
              $("#spinner").css("display", "inline-block");
              $("button[type='submit']").attr("disabled", true);

              setTimeout(() => {
                this.submit();
              }, 100);
            });
          });
          $("#new-chat-session").on("click", function () {
            $("#newChatSessionModal").modal("show");
          });          
        </script>
        {% if streaming %}
        <script>
          url="{{ url_for('index') }}stream/{{ session_id}}";
          console.log(url)
          var source = new EventSource("{{ url_for('index') }}stream/{{ session_id}}");
          source.onmessage = function(event) {
            console.log(event.data)
            if (event.data.includes("\n")) {
              console.log("The string contains a line break.");
            }
            if (event.data == "[[stop]]"){
                console.log('STOP_DETECTED')
                source.close()
            } else {
                document.getElementById("stream-target").innerHTML += event.data.replace(/(?:\r\n|\r|\n)/g, '<br/>');
            }
        };
        </script>
        {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
  <!-- New Chat Session Modal -->
  <div class="modal fade" id="newChatSessionModal" tabindex="-1" role="dialog" aria-labelledby="newChatSessionModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="newChatSessionModalLabel">New Chat Session</h5>
        </div>
        <form method="POST" id="new-chat-session-form" action="{{ url_for('create_new_chat_session') }}">
          <div class="modal-body">
            <div class="form-group">
              <label for="first-message">First message:</label>
              <textarea class="form-control" id="first-message" name="first_message" rows="3" required></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="close-modal">Close</button>
            <button type="button" id="new-chat-session-button" class="btn btn-primary">Create</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script>
          $("#new-chat-session").on("click", function () {
            $("#newChatSessionModal").modal("show");
          }); 
          $("#new-chat-session-button").on("click", function (event) {
              event.preventDefault();
              displayNotification("Creating new chat session and generating first response...", "progress");
              $("#new-chat-session-button").attr("disabled", true);
              $("#close-modal").attr("disabled", true);
              setTimeout(() => {
                $("#newChatSessionModal").modal("hide");
                $("button[type='submit']").attr("disabled", true);
                $("#new-chat-session-form").submit();
              }, 100);
            });
  </script>
  <script>
async function sendRequest(endpoint, method, texts, data = null) {
  const { startText, successText, errorText } = texts;

  // Show the startText in the toast
  displayNotification(startText, 'progress');

  // Prepare fetch options
  const fetchOptions = {
    method: method,
    headers: {},
  };

  // Add JSON payload if provided
  if (data) {
    fetchOptions.headers['Content-Type'] = 'application/json';
    fetchOptions.body = JSON.stringify(data);
  }

  try {
    const response = await fetch(endpoint, fetchOptions);
    if (!response.ok) { // Check if the status code is not in the range of 2xx
      throw new Error(`Request failed with status code: ${response.status}`);
    }

    const jsonResponse = await response.json(); // Parse the JSON response

    // Show the successText toast
    displayNotification(successText, 'info');

    return jsonResponse; // Return the JSON response when successful
  } catch (error) {
    // Show the errorText toast
    displayNotification(errorText, 'error');
    console.log('error');

    return null; // Return null when not successful
  }
}



    function displayNotification(message, notificationType) {
      const toastElement = document.getElementById("notification-toast");
      const toastHeader = toastElement.querySelector(".toast-header");
      const toastBody = toastElement.querySelector(".toast-body");
      console.log('displayNotification')
      // Remove any existing notification type classes
      toastBody.classList.remove('toast-info', 'toast-warning', 'toast-error', 'toast-progress');
      
      // Apply the appropriate CSS class for the current notification type
      toastBody.classList.add(`toast-${notificationType}`);
      
      // toastBody.textContent = message;
      if (notificationType == 'progress'){
        message = '<i class="fas fa-spinner fa-spin"></i>&nbsp;&nbsp;&nbsp;' + message; 
      }
      toastBody.innerHTML = message
      const toast = new bootstrap.Toast(toastElement, { autohide: notificationType != 'progress', delay: 3000 });
      toast.show();
    }
    $("#remember-button").on("click", async function () {
      $("#remember-button").attr("disabled", true);
      summarize_result = await sendRequest("{{ url_for('summarize', session_id=session_id) }}", "GET", {
        startText: "Summarizing chat session...",
        successText: "Summary generated.",
        errorText: "Failed to generate summary",
      });
      console.log(summarize_result);
      if (summarize_result != null) {
        console.log(summarize_result);
        await sendRequest("{{ url_for('remember') }}", "POST", {
          startText: "Remembering session...",
          successText: "Session stored in long-term memory.",
          errorText: "Failed to store session in long-term memory.",
        }, data={'summary': summarize_result['summary'], 'session_id': summarize_result['session_id']});
      }
      $("#remember-button").attr("disabled", false);
    });
  </script>

    {% if notification %}
    <script>
      displayNotification("{{ notification.message }}", "{{ notification.type }}");
    </script>
    {% endif %}

  
  
{% endblock %}
